@import url('https://fonts.googleapis.com/css?family=Lobster|Nunito&display=swap');

:root {
  --p-font: 'Lobster', cursive;
  --s-font: 'Nunito', sans-serif;
  --p-color: #00C9FF;
  --s-color: #92FE9D;
  --t-color: #ffffff;
  --body-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 0.05rem;
  transition: all 200ms ease-out;
}

i {
  font-size: 1.6rem !important;
}

@media screen and (max-width:640px) {
  i {
    font-size: 1.5rem !important;
  }

  #room:nth-child(even) {
    background: var(--p-color) !important;
  }
}

body {
  background: var(--body-color);
}

.p-color {
  color: var(--p-color);
}

button:focus {
  outline: none;
}

 input:focus , textarea:focus , select:focus , input {
  outline: none !important;
  background: transparent !important;
}

::-webkit-input-placeholder {
  color: var(--t-color) !important;
  font-size: 1rem !important;
  opacity: 75%;
}

::-moz-placeholder {
  color: var(--t-color) !important;
  font-size: 1rem !important;
  opacity: 75%;
}

::-ms-placeholder {
  color: var(--t-color) !important;
  font-size: 1rem !important;
  opacity: 75%;
}

::placeholder {
  color: var(--t-color) !important;
  font-size: 1rem !important;
  opacity: 75%;
}

body {
  font-family: var(--s-font);
}

h2 {
  font-family: var(--p-font);
  letter-spacing: initial;
}

header {
  background: linear-gradient(150deg , var(--p-color) , var(--s-color));
}

#room {
  background: var(--p-color);
  border-radius: 1rem;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

#room div {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#room div p {
  width: 100%;
}

#room div p:nth-child(2) {
  height: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

#room:nth-child(even) , #board button:nth-child(even) {
  background: var(--s-color);
}

.text-color , i {
  color: var(--t-color);
}

#players span , #nickname input , #playerCount {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#players div , #actions div , #user div {
  width: 48%;
  background: var(--p-color);
  opacity: 80%;
}

#messages {
  background: var(--p-color);
  opacity: 80%;
}

#board button {
  position: relative;
  background: var(--p-color);
  padding-top: 100%;
  border-radius: 1rem;
}

#board span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  color: white;
  font-weight: 900;
}

#bottom-btn {
  background: linear-gradient(180deg , transparent , var(--body-color));
}

#bottom-btn button , .btn {
  background: linear-gradient(150deg , var(--p-color) , var(--s-color));
  background-size: 200%;
  background-position: left;
}

.roomOptions {
  opacity: 0;
  background: var(--body-color)  !important;
  pointer-events: none;
}

.popup , .enterRoom {
  position: fixed;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform:translate(-50%, -0%);
  opacity: 0;
  transition: all 300ms ease;
}

.popup div , .enterRoom div{
  background: var(--body-color);
}

.active {
  pointer-events: initial;
  opacity: 75%;
}

.pactive {
  pointer-events: initial;
  transform: translate(-50%, -50%);
  opacity: 100%;
}

.check {
  opacity: 0;
}

.checked {
  opacity: 100%;
}

.password {
  pointer-events: none;
  opacity: 50%;
  border: 2px solid #cbd5e0;
}

.allowed {
  pointer-events: initial;
  opacity: 100%;
}

.unavailable {
  pointer-events: none;
  opacity: 50%;
}

#chat-border {
  border: 2px solid var(--p-color)
}

#chat-window {
  height: 60vh;
  border: 2px solid var(--p-color);
  border-radius: 1rem;
}

#message-box {
  border: 2px solid var(--p-color);
}

#message-box input::placeholder {
  color: var(--p-color) !important;
}

#message-box input::ms-placeholder {
  color: var(--p-color) !important;
}

#message-box input::moz-placeholder {
  color: var(--p-color) !important;
}

#message-box input::-webkit-input-placeholder {
  color: var(--p-color) !important;
}