@import url('https://fonts.googleapis.com/css?family=Lobster|Nunito&display=swap');

:root {
  --p-font: 'Lobster', cursive;
  --s-font: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  /* outline: 1px dotted orangered; */
}

button:focus,input:focus, textarea:focus, select:focus,input {
  outline: none !important;
  background: transparent !important;
}

::-webkit-input-placeholder {
  color:#BEE3F8 !important;
  font-size: 1rem !important;
  font-weight: 500;
}

::-moz-placeholder {
  color:#BEE3F8 !important;
  font-size: 1rem !important;
  font-weight: 500;
}

::-ms-placeholder {
  color:#BEE3F8 !important;
  font-size: 1rem !important;
  font-weight: 500;
}

::placeholder {
  color:#BEE3F8 !important;
  font-size: 1rem !important;
  font-weight: 500;
}

body {
  font-family: var(--s-font);
}

h2 {
  font-family: var(--p-font);
}

header {
  background: linear-gradient(120deg ,#6B9EFF,#5ACEFF);
}

#room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #6B9EFF;
  border-radius: 1rem;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

#room:hover {
  transform: scale(0.95);
}

#room div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#room p {
  text-align: center;
  font-size: 1.6rem;
  margin: 0.3em auto;
}

#room:nth-child(odd) {
  background: #5ACEFF;
}

#players span , #nickname input {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#players div {
  width: 48%;
}

#board button {
  position: relative;
  background: #6B9EFF;
  padding-top: 100%;
  border-radius: 1rem;
}

#board button:nth-child(even) {
  background: #5ACEFF;
}

#board span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  color: white;
  font-weight: 900;
}